.icon {
    position: relative;
    font-size: 60px;
    width: 80px;
}
.badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
}