.hero {
  position: relative;
  background-image: url("images/high-contrast-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.hero h1 {
  position: relative;
  z-index: 2;
  font-size: 2rem;
}
