.container {
  width: 960px;
  margin: auto;
  text-align: center;
}

.header, .footer {
  background-color: #333;
  color: white;
  padding: 15px;
}

.column {
  float: left;
  padding: 20px;
  margin: 10px;
  background-color: #eeeeee;
}

.left { width: 200px; }
.center { width: 400px; }
.right { width: 200px; }

.footer {
  clear: both;
}
