body {
    width: 700px;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    background-color: #eeeeee;
    padding: 10px;
}
p {
    background-color: #f6f6f6;
    padding: 10px;
}