.main {
  float: left;
  width: 65%;
  background-color: #eeeeee;
  padding: 20px;
}

.sidebar {
  float: right;
  width: 30%;
  background-color: #cccccc;
  padding: 20px;
}

.clear {
  clear: both;
}
